*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 800px;
    margin:0 auto;
}
header{
padding:20px;
background-color: #cdcdcd;
display: flex;
}
h1{
    margin-left:20px;
}
nav ul{
display: flex;
list-style-type: none;
justify-content: space-around;
text-transform: uppercase;
}
nav{
    background-color: #454545;
    color: #fff;
    padding: 10px 0;
}
nav li:hover{
color:yellow;
font-weight: bolder;
transition: 2s;
}
main{
display: flex;
justify-content: space-between;
margin-top: 40px;
}
main div{
    width: 30%;
    border: 1px solid #dedede;
    padding: 10px;
}

footer{
    margin-top: 20px;
    background-color: #cdcdcd;
    padding: 20px;
    text-align: center;
}
main img{
    width: 220px;
    margin:10px 0;
}