*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 800px;
    margin:0 auto;
}
header{
padding:20px;
background-color: #cdcdcd;
display: flex;
}
h1{
    margin-left:20px;
}
nav ul{
display: flex;
list-style-type: none;
justify-content: space-around;
text-transform: uppercase;
}
nav{
    background-color: #454545;
    color: #fff;
    padding: 10px 0;
}
nav li:hover{
color:yellow;
font-weight: bolder;
transition: 2s;
}
#container{
margin-top: 10px;
}
main img{
    width: 100%;
}
#container{
    display: flex;
    justify-content: space-between;
}
#container div{
    width: 30%;
    border: 1px solid #dedede;
    padding: 10px;
}

#container img{
    width: 220px;
    margin:10px 0;
}
footer{
    margin-top: 20px;
    background-color: #cdcdcd;
    padding: 20px;
    
}

#footercontainer{
    display: flex;
    justify-content: space-between;
}
#copyright{
    margin-top: 10px;
    padding-top: 20px;
    border-top:2px solid #343434;
}
footer ul li{
    list-style-type: none;
}
#footercontainer div{
    width: 30%;
}
#footercontainer div h3{
    text-align: left;
    margin:10px 0;

}